<section id="companies">
	<ul class="companies-items">
		<li class="companies-item"><img src="assets/images/wired.png" alt="Wired"></li>
		<li class="companies-item"><img src="assets/images/lifehacker.png" alt="Lifehacker"></li>
		<li class="companies-item"><img src="assets/images/mashable.png" alt="Mashable"></li>
		<li class="companies-item"><img src="assets/images/theverge.png" alt="Theverge"></li>
		<li class="companies-item"><img src="assets/images/gizmodo.png" alt="Gizmodo"></li>
		<li class="companies-item"><img src="assets/images/macworld.png" alt="Macworld"></li>
	</ul>
</section>