<section class="perfect">
	<div class="items">
		<div class="item item--color">
			<img src="assets/images/tablet.png" alt="Tablet">
		</div>
		<div class="item item--text">
			<h2>
				<span>Perfect</span> landing page
				for your app
			</h2>
			<p>
				This sounded nonsense to Alice, so she said 
				nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.
			</p>
		</div>
	</div>
	<div class="items">
		<div class="item item--text">
			<h2>
				<span>Style guide</span> and sample pages included
			</h2>
			<p>
				This sounded nonsense to Alice, so she said 
				nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.
			</p>
		</div>
		<div class="item item--color">
			<img src="assets/images/tablet-2.png" alt="Tablet">
		</div>
	</div>
</section>